.row{
    background-color: rgb(255, 255, 255);
    
}


.rounded{
    height: 20vh;
}


.contenedor-maps{
   
    background: url(https://goo.gl/maps/P5pcJ1p4c83xpPP89);
}

.rojo{

    background-color: rgb(0, 0, 0);
}


