.row{
    background-color: rgb(255, 255, 255);
    
}

.img-fluid{
    border-radius: 2%;
}

.rounded{
    height: 20vh;
}
.fondo{
    background-image: url(/Restaurante/css/img/menu\ restaurante\ desayuno\ gratis\ saludable\ beis.png);
    height: 1700px;
    background-size: cover;
}
